#staff-page {
  header {
    width: 100%;
    height: $headerHeight;
    background-color: $headerBgColour;
    display: flex;
    justify-content: center;
  }

  h1 {
    margin: 0px;
    color: $headerTextColour;
    display: flex;
    align-items: center;
  }

  .content {
    position: relative;
    left: $sidebarWidth;
    display: block;
    padding: 20px 50px;
    box-sizing: border-box;
    width: calc(100% - #{$sidebarWidth});
  }

  .list {
    width: 100%;
    background-color: $cardBackgroundColour;

    tr:first-child {
      text-align: left;
      background-color: $headerBgColour;
      color: $white;
    }

    th {
      padding: 5px;
    }

    td {
      border: 1px solid #000000;
      padding: 5px;
    }
  }

  .actions {
    margin: 20px 0px;
    font-weight: 700;

    span {
      margin-right: 20px;
    }
  }

  .subject,
  .page {
    .entries {
      padding: 50px;
      background-color: $white;

      .label {
        text-align: left;
        display: inline-block;
        width: 200px;
        margin-bottom: 5px;
      }
    }
  }

  a {
    &.back-button {
      font-size: 20px;
      margin-bottom: 30px;
      display: block;

      span {
        margin-right: 5px;
        position: relative;
        top: 6px;
      }
    }
  }
}

#side-bar {
  float: left;
  width: 20%;
  position: absolute;
  left: 0;
  background-color: $sidebarBgColour;
  height: $sidebarHeight;
  display: block;
  padding: 25px;
  box-sizing: border-box;

  .material-icons {
    position: relative;
    top: 8px;
    margin-right: 10px;
    font-size: 35px;
  }

  ul {
    li {
      font-size: 25px;
      padding-bottom: 20px;
    }
  }
}
