// Colours
$white: #ffffff;

// Body
$pageBackgroundColour: #f2f2f2;
$pageFontSize: 18px;
$textColour: #000000;

// Header
$headerBgColour: #0d47a1;
$headerTextColour: #ffffff;
$headerHeight: 100px;

// Sidebar
$sidebarBgColour: #ffffff;
$sidebarHeight: calc(100vh - #{$headerHeight});
$sidebarWidth: 20%;

// Links
$noTextDecoration: none;

// Forms
$formBackgroundColour: #ffffff;
$formFontSize: 20px;
$formButtonColour: #0d47a1;
$formButtonHoverColour: darken($formButtonColour, 10%);

// Misc
$cardBackgroundColour: #ffffff;
